<!-- <app-home-header></app-home-header> -->
<div class="pop" id="pop">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<app-home-header (SearchTextChanged)="onSearchTextEntered($event)"></app-home-header>
<div class="container mx-auto">
  <div class="overflow-hidden" id="ProductList">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      <div class="mb-4" *ngFor="let prd of Products">
        <a class="block overflow-hidden bg-white rounded shadow-md product-card">
          <div class="product-tumb">
            <img src="https://f.nooncdn.com/p/v1637140832/N51885201A_1.jpg?format=avif&width=800" alt="Product Image" />
          </div>

          <div class="p-4 product-details text-start">
            <h5 class="mb-2 text-lg font-medium text-start">
              {{ (lang=="en" ? prd.name : prd.nameAr) | stringLength }}
            </h5>

            <div class="text-start">
              <div class="product-bottom-details">
                <ng-container *ngIf="prd.discount==0; else noDiscount">
                  <span class="mb-2 text-xl font-bold">{{ prd.price | currency: 'EGP ':'symbol' }}</span>
                </ng-container>

                <ng-template #noDiscount>
                  <span class="mb-2 text-xl font-bold">
                    {{ prd.price | afterDiscountPrice:prd.discount | currency: 'EGP ':'symbol' }}
                  </span>
                  <br />
                  <span class="text-sm text-gray-600 line-through">
                    {{ prd.price | currency: 'EGP ':'symbol' }}
                  </span>
                  <span class="font-bold text-green-500">{{ prd.discount * 100 | number : '1.0-2' }}% OFF</span>
                  <div *ngIf="prd.isFreeDelivered">
                    <img
                      class="w-1/4 mx-auto mt-2"
                      src="https://z.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg"
                      alt=""
                    />
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
