<div class="flex items-center justify-between py-2 px-4 mx-auto bg-[#C6829C]">
  <div class="flex items-center">
    <div (click)="goToHome()" class="cursor-pointer">
      <img src="assets/images/binder.png" class="h-8 rounded-full" alt="Noon Logo" />
    </div>

    <div class="ml-4">
      <input
        type="text"
        placeholder="Search"
        class="p-2 bg-white border-0 rounded focus:outline-none"
        #search
        (input)="onSearchTextChange(search.value)"
      />
    </div>
  </div>

  <div class="flex items-center">
    <ul class="flex items-center text-white">
      <li *ngIf="lang!=='ar'" class="mx-2">
        <button class="btn headerLink" (click)="localization('ar')">العربية</button>
      </li>

      <li *ngIf="lang!=='en'" class="mx-2">
        <button class="btn headerLink" (click)="localization('en')">English</button>
      </li>

      <li
        *ngIf="isAuthenticated"
        [matMenuTriggerFor]="menu"
        class="flex items-center justify-center mx-2 cursor-pointer"
      >
        <mat-icon>account_circle</mat-icon>
        <span>Welcome {{currentUser.firstName}}</span>

        <mat-menu #menu="matMenu">
          <div>
            <button (click)="global.redirectToComponent('orders')" mat-menu-item routerLink="/user/order">
              <mat-icon><img src="	https://z.nooncdn.com/s/app/com/noon/icons/orders_menu_icon_v3.svg" /></mat-icon>
              <span>Orders</span>
            </button>
          </div>
          <button (click)="global.redirectToComponent('orders')" mat-menu-item routerLink="/user/Address">
            <mat-icon>
              <img src="https://z.nooncdn.com/s/app/com/noon/icons/addresses_menu_icon_v3.svg" />
            </mat-icon>
            <span>Addresses</span>
          </button>
          <button (click)="global.redirectToComponent('orders')" mat-menu-item routerLink="/user/payment">
            <mat-icon><img src="https://z.nooncdn.com/s/app/com/noon/icons/payment_menu_icon_v3.svg" /></mat-icon>
            <span>Payments</span>
          </button>
          <button (click)="global.redirectToComponent('orders')" mat-menu-item routerLink="/user/return">
            <mat-icon><img src="	https://z.nooncdn.com/s/app/com/noon/icons/returns_menu_icon_v3.svg" /> </mat-icon>
            <span>Returns</span>
          </button>
          <button (click)="global.redirectToComponent('orders')" mat-menu-item routerLink="/user/profile">
            <mat-icon><img src="	https://z.nooncdn.com/s/app/com/noon/icons/profile_menu_icon_v3.svg" /> </mat-icon>
            <span>Profile</span>
          </button>
          <button (click)="global.redirectToComponent('orders')" mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon> <span>Logout</span>
          </button>
        </mat-menu>
      </li>

      <li *ngIf="!isAuthenticated" class="mx-2 cursor-pointer">
        <span class="btn" (click)="register()"> login <i class="fa-solid fa-user"></i> </span>
      </li>

      <li class="mx-2">
        <button type="button" class="relative btn btn-defualt">
          <a class="headerLink" (click)="goToCart()">
            cart
            <i class="mx-1 fa-solid fa-cart-shopping">
              <span
                class="absolute top-0 start-100 -translate-middle badge rounded-pill bg-danger"
                *ngIf="countCart > 0 && lang == 'en'"
              >
                {{countCart}}
                <span class="visually-hidden">unread messages</span>
              </span>
              <span
                class="absolute top-0 end-70 -translate-middle badge rounded-pill bg-danger"
                *ngIf="countCart > 0 && lang == 'ar'"
              >
                {{countCart}}
                <span class="visually-hidden">unread messages</span>
              </span>
            </i>
          </a>
        </button>
      </li>
    </ul>
  </div>
</div>
