<div class="flex items-center justify-between py-2 px-4 mx-auto bg-[#C6829C]">
  <div class="flex items-center">
    <div (click)="goToHome()" class="cursor-pointer">
      <img src="assets/images/binder.png" class="h-8 rounded-full" alt="Noon Logo" />
    </div>

    <div class="ml-4">
      <input
        type="text"
        placeholder="Search"
        class="p-2 bg-white border-0 rounded focus:outline-none"
        #search
        (input)="onSearchTextChange(search.value)"
      />
    </div>
  </div>

  <div class="flex items-center">
    <ul class="flex items-center list-inline">
      <li *ngIf="lang!=='ar'" class="mx-2">
        <button class="btn headerLink" (click)="localization('ar')">العربية</button>
      </li>

      <li *ngIf="lang!=='en'" class="mx-2">
        <button class="btn headerLink" (click)="localization('en')">English</button>
      </li>

      <li *ngIf="token" class="mx-2">
        <button class="btn headerLink" mat-button [matMenuTriggerFor]="menu">
          <div class="mx-2">
            <mat-icon class="text-bold">account_circle</mat-icon>
            <span class="mx-1">ahlan ! {{userName}}</span>
          </div>
          <span class="ml-1"><i class="fa-solid fa-sort-down"></i></span>
        </button>
        <mat-menu #menu="matMenu">
          <!-- Your menu items here -->
        </mat-menu>
      </li>

      <li *ngIf="!token" class="mx-2">
        <span class="btn" (click)="register()"> sign <i class="fa-solid fa-user"></i> </span>
      </li>

      <li class="mx-2">
        <button type="button" class="relative btn btn-defualt">
          <a class="headerLink" (click)="goToCart()">
            cart
            <i class="mx-1 fa-solid fa-cart-shopping">
              <span
                class="absolute top-0 start-100 -translate-middle badge rounded-pill bg-danger"
                *ngIf="countCart > 0 && lang == 'en'"
              >
                {{countCart}}
                <span class="visually-hidden">unread messages</span>
              </span>
              <span
                class="absolute top-0 end-70 -translate-middle badge rounded-pill bg-danger"
                *ngIf="countCart > 0 && lang == 'ar'"
              >
                {{countCart}}
                <span class="visually-hidden">unread messages</span>
              </span>
            </i>
          </a>
        </button>
      </li>
    </ul>
  </div>
</div>
