<div class="relative overflow-hidden transition duration-300 ease-in-out bg-gray-200 product hover:bg-gray-300">
  <div class="cursor-pointer" (click)="goToDetails(product.id)">
    <a class="relative block rounded">
      <img alt="ecommerce" class="block object-cover object-center w-full h-full" [src]="product.imageThumb" />
    </a>
    <div class="p-4">
      <h3 class="mb-1 text-xs tracking-widest text-green-500 title-font">
        <!-- {{ product.category.name }} -->
      </h3>
      <h2 class="text-lg font-medium text-gray-900 title-font line-clamp-1">
        {{ product.description }}
      </h2>
      <div class="flex items-center justify-between">
        <p class="mt-1">{{ product.price }} EGP</p>
        <div class="flex items-center gap-1 star">
          <mat-icon class="text-yellow-500">star</mat-icon>
          <span class="text-gray-600">{{ product.overallRating }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 w-full transition-all duration-700 translate-y-full description">
    <button class="w-full p-2 text-white bg-green-600 rounded" (click)="addToCart(product)">Add To Cart</button>
  </div>
</div>
